@import 'Font.module.css';

.header{
    max-height: 4rem;
    width: 100%; 
    padding: 1rem 0 2rem;
    border-bottom: 1px solid #0070f3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navigation{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #f2f2f2;
    font-weight: 700;
}
.tihead{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    font-size: 2rem;
    color: #000;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.bardiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bar{
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    fill: #0070f3;
}

.headside{
    display: none;
}
@media screen and (max-width:500px) {
    .navigation{
        width: 92%;
    }
}
@media screen and (min-width:1500px) {
    .navigation{
        width: 1400px;
    }
}





/* Sidebar Css write here  */

.sidemain{
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    height: 100vh;
    overflow-y: auto;
    background: #0070f3;
    
}
.sidebar{
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-left: .7rem;
}
.menuitem{
    padding: .2rem 1rem;
    color: #fff;
}