@import 'Font.module.css';

.header{
    min-height: 4rem;
    width: 100%;
    /* background: #0070f3; */
    padding: 1rem 0;
    border-bottom: 1px solid #0070f3;
}
.navigation{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.title{
    font-size: 2rem;
    color: #222;
}
.bardiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar{
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    fill: #0070f3;
}