@import 'Font.module.css';

.header{
    min-height: 4rem;
    width: 100%;
    /* background: #0070f3; */
    padding: 1rem 0;
    border-bottom: 1px solid #0070f3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navigation{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: #f2f2f2;
    font-weight: 700;
}
.tihead{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    font-size: 2rem;
    color: #000;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.bardiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.bar{
    height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    fill: #0070f3;
}